# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FinalProjectGit\team_1_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
